
<br />



<div class="row">
<h3>List of Olympics</h3>

<table>
  <thead>
    <tr>
      <th width="50px">ID</th>
      <th width="100px">Year</th>
      <th width="100px">Season</th>
      <th width="200px">Country</th>
      <th width="200px">City</th>
      <th width="100px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="olympic in olympics">
      <td>{{olympic.id}}</td>
      <td>{{olympic.year}}</td>
      <td>{{olympic.season}}</td>
      <td>{{olympic.country}}</td>
      <td>{{olympic.city}}</td>
      <td>
        <a href="/#/olympics/{{olympic.id}}" class="tiny button">Show</a>
      </td>
    </tr>
  </tbody>
</table>

</div>
