<h1 id="db-squirrel">DB SQuirreL</h1>
<p><em>Seoul National University</em> / <em>Introduction to databases</em> / <em>2014 Spring Semester</em> / <em>Final Project</em></p>
<p><em>Arif Jafer</em> / <em>Camilo A. Celis Guzman</em> / <em>Jake Forescue</em> / <em>Kim Tae-Hun</em></p>
<blockquote>
<p>We recomend to view this file using a <a href="http://markable.in/"><code>markdown viewer</code></a> or use the <code>HTML</code> version. Otherwise, please refer to the project's repository on <a href="https://github.com/cacyss0807/DB_SQuirreL.git"><code>Github</code></a></p>
</blockquote>
<h2 id="1-install-the-necessary-packages">1. Install the necessary packages</h2>
<p>I. Install <a href="http://www.nodejs.org/download/"><code>Node.js</code></a></p>
<blockquote>
<p>If you are working on Ubuntu, <strong>DO NOT</strong> install it via <code>apt-get</code>. That installs a lower version. Installing nodejs via its webpage is recommended. </p>
</blockquote>
<p>II. Install <a href="http://dev.mysql.com/downloads/mysql/"><code>MySQL</code></a></p>
<blockquote>
<p>If you are working on Ubuntu, enter: <code>sudo apt-get install mysql-client mysql-server</code> in the terminal.</p>
</blockquote>
<p>III. From the <code>web_server</code> directory (inside our's project directory) run:</p>
<ul>
<li>Install node express <code>npm install -g express</code></li>
<li>Installed bower <code>npm install bower -g</code></li>
<li>Installed angular.js <code>bower install angular</code></li>
<li>Install missing packages <code>npm install</code></li>
<li>Install missing packages <code>bower install</code></li>
</ul>
<blockquote>
<ul>
<li>To use bower, git must be installed. </li>
<li>If <code>bower install</code> is not working, use <code>node_modules/bower/bin/bower install</code>(Linux or OSX) or <code>node_modules\bower\bin\bower install</code> (Windows).</li>
</ul>
</blockquote>
<h2 id="2-setting-mysql">2. Setting MySQL</h2>
<p>I. Setting a MySQL's new user</p>
<p><code>$ mysql --user=root mysql</code></p>
<blockquote>
<p>If you have assigned a password to the root account, you will also need to supply a <code>--password</code> or <code>-p</code> option.</p>
<p>If you use MySQL on Windows Environment, run <code>MySQL 5.6 Command Line Client</code> instead of this step.</p>
</blockquote>
<p>II. Create a new user</p>
<p><code>mysql&gt; CREATE USER 'squirrel'@'localhost' IDENTIFIED BY 'squirrel';</code></p>
<p><code>mysql&gt; GRANT ALL PRIVILEGES ON *.* TO 'squirrel'@'localhost' WITH GRANT OPTION;</code></p>
<blockquote>
<p>If you want to set different username or password, you must edit 'user' and 'password' items in the following paths to your username and password.</p>
</blockquote>
<ul>
<li><code>webserver/config/db/development.js</code> </li>
<li><code>webserver/config/db/production.js</code></li>
<li><code>webserver/modules/config/db/development.js</code></li>
<li><code>webserver/modules/config/db/production.js</code></li>
</ul>
<p>III. Start MySQL Server <code>mysql.server start</code> (for OS X termianl)</p>
<blockquote>
<p>If you use MySQL on Windows Environment, you can use <code>MySQL Notifier</code> instead of this step.</p>
<p>If you use Ubuntu, mysql server will start automatically. If not, enter <code>sudo service mysql start</code> on terminal.</p>
</blockquote>
<p>IV. Add schema and data in database</p>
<p>From the project root directory run : </p>
<p><code>mysql -usquirrel -p &lt; olympics_demo.sql</code></p>
<p>It contains the database's table creation, relations, etc; as well as the data necessary. It might take a while due to the big amount of information.</p>
<h2 id="3-to-run">3. To run:</h2>
<p>I. From the <code>web_server</code> directory run:</p>
<p><code>nodemon app.js</code></p>
<blockquote>
<p>It will run by default on port 3000, you can change it by editing the file <code>app.js</code>. Also note that the regular <code>node</code> is not used, because the <code>nodemon</code> allows to modify a file without restarting the server, it updates the files on the fly.</p>
</blockquote>
<p>II. Visualize</p>
<p>Go to your browser (Chrome is preferred) and type <code>localhost:3000</code>. Also, we provide an online server under the address: <a href="http://www.db.arifjafer.com"><code>db.arifjafer.com</code></a>.</p>
<p>III. Play around</p>
<p>To login on the admin page of our website, use <code>admin@squirrel.com</code> and <code>squirrel</code> as a email and password. </p>
<blockquote>
<p>Note that there is no way to create a new user because, we think that it is no necessary, since only the database mantainers should be able to modify this data. The only way to create an user is <code>INSERT</code>ing it into a table in the database called <code>users</code>.</p>
</blockquote>