
<div class="row">
  <div class="columns centered text-center">
    <div ng-show="paginator.pageCount() > 1">
      <ul class="pagination">
        <li ng-click="paginator.setPage(i)" ng-repeat="i in [] | forLoop:0:paginator.pageCount()" ng-class="paginator.page==i && 'active'">
          <a>{{i+1}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>