<!-- TITLE -->
<div class="row">
	<div class="large-10 columns large-centered">
		<h1 class="centered-text light" >Making sense of information</h1>
		<h3 class="subheader">Olympics's database shown in a different way!</h3>
	</div>
</div>
<!-- US -->

	<!-- arif -->
	<div class="row bump-25">
		<div class="large-3 columns centered-text zurbian">
			<a href="https://github.com/zeronone" class="centered-text click-block">
				<img alt="Arif" src="http://i.imgur.com/WFczzcm.jpg?2">
				<h3 class="title light">Arif Jafer</h3>
				<span class="short-bio">
					Third year CSE <br>
					Undergraduate student <br><br>
					<b>email:</b>
						<span class="secondary round label">
							majafer10@gmail.com
						</span>
				</span>
			</a>
		</div>

	<!-- tae-hun -->
		<div class="large-3 columns">
			<a href="https://github.com/TaeHunKim" class="centered-text click-block">
				<img alt="TaeHunKim" src="http://i.imgur.com/DCaHC9u.png?3">
				<h3 class="title light">Tae-Hun Kim</h3>
				<span class="short-bio">
					Third year CSE <br>
					Undergraduate student <br><br>
					<b>email:</b>
						<span class="secondary round label">
							rapaellk29@gmail.com
						</span>
				</span>
				<br><br>
			</a>
		</div>

		<!-- camilo -->
		<div class="large-3 columns">
			<a href="https://github.com/cacyss0807" class="centered-text click-block">
				<img alt="Camilo" src="http://i.imgur.com/DckzydJ.jpg?3">
				<h3 class="title light">Camilo A. Celis Guzman</h3>
				<span class="short-bio">
						Third year CSE <br>
						Undergraduate student <br><br>
						<b>email:</b>
							<span class="secondary round label">
								camilo.celis0807@gmail.com
							</span>
				</span>
				<br>
			</a>
		</div>

		<!-- jake -->
		<div class="large-3 columns">
			<a href="https://github.com/jakewfort" class="centered-text click-block">
				<img alt="Arif" src="http://i.imgur.com/fjpfw3I.jpg?1">
				<h3 class="title light">Jake Watson Fortescue</h3>
				<span class="short-bio">
				Fourth year CSE <br>
				Exchange student <br><br>
				<b>email:</b>
					<span class="secondary round label">
						jakewfortescue@gmail.com
					</span>
				</span>
			</a>
		</div>
	</div>
</div>

<br>
<br>

<div class="row">
	<div class="large-12 columns">
		<h3 class="subheader">
			Final Project
		</h3>
		<span class="foot">
			Database Systems Concepts 4190.301-001<br>
			Spring semester 2014
		</span>
	</div>
</div>
