

<div class="row">
  <br>
  <br>
  <br>
  

  <div class="large-4 large-offset-4">

  <div ng-show="hasError" data-alert class="alert-box alert round">
    {{errorMessage}}
    <a href="#" class="close">&times;</a>
  </div>
  <h3>Login</h3>
    <form>
      <div class="row">
        <div class="small-8">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right">Email</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="right-label" ng-model="username" placeholder="example@gmail.com">
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right" placeholder="Keep_calm_and_chieve_on">Password</label>
            </div>
            <div class="small-9 columns">
              <input type="password" id="right-label" ng-model="password">
            </div>
          </div>
          <div class="row" style="margin: auto auto;">
            <div class="small-9 columns">
              <button ng-click="submitForm()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
